<%= simple_form_for @vodka do |f| %>



  <% if @vodka.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vodka.errors.count, "error") %> :</h2>

      <ul>
      <% @vodka.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  
  <%= f.input :name, :required => true, :id => 'imie', :minimum => 5, label: "Name" %>
  <%= f.input :description,:required => true, :id => 'opis', :minimum => 5,  label: "Description" %>
  <%= f.input :origin, :required => true, :id => 'pochodzenie',:minimum => 5, label: "Origin" %>
  <%= f.button :submit , :id => 'sprawdz' %>
  
<% end %>