<div class="container">
    <h1>Edit Vodka</h1>

  <%= simple_form_for @vodka, :html => { :multipart => true } do |f| %>

  <% if @vodka.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vodka.errors.count, "error") %> :</h2>

      <ul>
      <% @vodka.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    

    <%= f.input :name,:required => true, label: "Name" %>
    <%= f.input :description,:required => true,  label: "Description" %>
    <%= f.input :origin,:required => true, label: "Origin" %>
    <%= f.button :submit  %>

  <% end %>
</div>