 <div class="container">
   <h3 class="current-category"><%= params[:category] %></h3>

  <% if @vodkas.count == 0 %>

    <h2>There are no Vodkas in this category</h2>
  <% else %>
   <ul class="vodkasList">
    <% @vodkas.each do |vodka|%>

       <li><%= link_to vodka.name, vodka_path(vodka) %> </li>

       

    <% end %>
     <div class="text-center">
        <%= will_paginate @vodkas %>
    </div>
   </ul>
  <% end %>
</div>