<div class="container">
    <h2><%= @vodka.name %> </h2>
 


  <h3>Origin: <%= @vodka.origin %> </h3>
  <p>Description: <%= @vodka.description %> </p>




  <%= link_to "Back", root_path %>

  <% if user_signed_in? %>


    <% if @vodka.user.id == current_user.id %>

      <%= link_to "Edit", edit_vodka_path(@vodka) %>
      <%= link_to "Delete", vodka_path(@vodka), method: :delete, data: { confirm: "Are you sure?" } %>

    <% end %>

  <% end %>
</div>