/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
.navbar-brand 
{
  font-weight: 600;
}
body {
  color: #7d4627;
  background-color: #edd9c0;
  nav {

    
    background-color: #a8b6bf !important;
  }
}

select {
  height: 40px;
  padding: 7px;
}
.vodkasList {
  color: black;
  margin: 0;
  padding: 0;
  //text-align: center;
  li {
    position: relative;
    margin: 5px 0;
    list-style: none;
    border: 3px solid #7d4627;
    
    font-size: 24px;
    &:hover {
      transition: all .3s ease-out;
      background-color: #7d4627;
      opacity: .9;
      color: #c9d8c5;
      a{
        color: #c9d8c5;
      }
      &:after{
      position: absolute;
      content: 'SHOW';
      right: 10px;
      top: 7px;
      font-size: 15px;
      border: 2px solid #e62739;
      padding: 3px;
      cursor: pointer;
      font-weight: 600;
      }
    }
    a {
      padding: 5px 10px;
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #333;
    }
  }
}