<!DOCTYPE html>
<html>
<head>
  <title>Base of Vodkas</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
 <nav class="navbar navbar-default">
   
   <div class="container">
     
     <div class="navbar-header">
       <%= link_to "Base of Vodkas", root_path, class: "navbar-brand" %>
      
     </div>
     <ul class="nav navbar-nav">
       <li><%= link_to "Sign up", new_user_registration_path %></li>
       
       <% if user_signed_in? %>
        
         <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
         
       <% else %>
       
         <li><%= link_to "Log in", new_user_session_path %></li>
       
       <% end %>
     </ul>
     
     <ul class="nav navbar-nav navbar-right">
      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Categories <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <% Category.all.each do |category| %>
          <li class="<%= 'active' if params[:category] == category.name %>">
              <%= link_to category.name, vodkas_path(category: category.name), class: "link" %>
            </li>
          <% end %>
        </ul>
      </li>
       
      
       <% if user_signed_in? %>
         <li>  <%= link_to "Add vodka", new_vodka_path %> </li>
       <% end %>
     </ul>
     
   </div>
   
 </nav>
 
 
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <%= yield %>

</body>
</html>
